.simplebutton {
    background-color: red;
    color: yellow;
}

.close120 {
    font-size: 120px;
}

.close80 {
    font-size: 80px;
}

.darkgreen {
    color: darkgreen;
}

.font20 {
    font-size: 20px;
}

.containerportrait {
    font-size: 30px;
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
    color: darkgreen;
}

.containerlandscape {
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
    font-size: 70px;
    color: darkgreen;
}
